# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_API_ENDPOINT = "https://664689e2-01de-4033-a6a5-ca4f3804c3f4-westus3.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:ULxlpCLYAxIcmooQfwshSUDN:2386aa0b8201db8dd6d9c27fd09d35999f0d23c991365857d21c625b98772b8b"
